{% extends 'base.html' %}
{% block content %}

    <div class="grid grid-cols-1 gap-0 lg:grid-cols-3 h-[calc(100vh-74px)]">
        <div class="hidden lg:block h-full bg-no-repeat bg-cover bg-center bg-[url('/static/images/doctor.jpg')]">
            <div class="text-center px-4 backdrop-blur bg-black/40 h-full content-center">
                <h1 class="h1-small text-neutral-200 mb-3 drop-shadow-lg">Create a new Beacon account</h1>
            </div>
        </div>

        <div class="h-full content-center lg:col-span-2 p-4">
            <div class="p-4 rounded bg-color-accent border border-color shadow-sm text-center m-auto max-w-lg">
                <h2 class="h2 text-color-dark mb-3">Sign Up</h2>

                <form action="" method="post">
                    {{ form.csrf_token }}
                    <div class="grid gap-y-4 text-start mb-3">

                        <div class="mb-3">
                            {{ form.name.label(class="form-label") }}
                            <div class="relative">
                                {{ form.name(class="form-input", id="name", type="text") }}
                            </div>
                            {% for error in form.name.errors %}
                                <p class="form-error">{{ error }}</p>
                            {% endfor %}
                        </div>

                        <div>
                            {{ form.email.label(class="form-label") }}
                            <div class="relative">
                                {{ form.email(class="form-input", id="email", type="email") }}
                            </div>
                            {% for error in form.email.errors %}
                                <p class="form-error">{{ error }}</p>
                            {% endfor %}
                        </div>

                        <div>
                            {{ form.password.label(class="form-label") }}
                            <div class="relative">
                                {{ form.password(class="form-input", id="password", type="password") }}
                                <div data-hs-strong-password='{
                                        "target": "#password",
                                        "stripClasses": "hs-strong-password:opacity-100 hs-strong-password-accepted:bg-emerald-500 h-2 flex-auto rounded bg-blue-500 opacity-25 mx-1"
                                      }' class="flex mt-2 -mx-1"></div>
                            </div>
                            {% for error in form.password.errors %}
                                <p class="form-error">{{ error }}</p>
                            {% endfor %}
                        </div>

                        <div>
                            {{ form.confirm_password.label(class="form-label") }}
                            <div class="relative">
                                {{ form.confirm_password(class="form-input", id="confirm_password", type="password") }}
                            </div>
                            {% for error in form.confirm_password.errors %}
                                <p class="form-error">{{ error }}</p>
                            {% endfor %}
                        </div>

                        {{ form.submit(class='button button-blue block') }}

                    </div>
                </form>
            </div>
        </div>

    </div>




{% endblock %}
