{% extends 'base.html' %}
{% block content %}

    <div class="grid grid-cols-1 gap-0 lg:grid-cols-3 h-[calc(100vh-74px)]">
        <div class="hidden lg:block h-full bg-no-repeat bg-cover bg-center bg-[url('/static/images/doctor.jpg')]">
            <div class="text-center px-4 backdrop-blur bg-black/40 h-full content-center">
                <h1 class="h1-small text-neutral-200 mb-3 drop-shadow-lg">Log In to Your Account</h1>
            </div>
        </div>

        <div class="h-full content-center lg:col-span-2 p-4">
            <div class="p-4 rounded bg-color-accent border border-color shadow-sm text-center m-auto max-w-lg">
                <h2 class="h2 text-color-dark mb-3">Log In</h2>

                <form action="" method="post">
                    {{ form.csrf_token }}
                    <div class="grid gap-y-4 text-start mb-3">

                        <div>
                            {{ form.email.label(class="form-label") }}
                            <div class="relative">
                                {{ form.email(class="form-input", id="email", type="email") }}
                            </div>
                            {% for error in form.email.errors %}
                                <p class="form-error">{{ error }}</p>
                            {% endfor %}
                        </div>

                        <div>
                            {{ form.password.label(class="form-label") }}
                            <div class="relative">
                                {{ form.password(class="form-input", id="password", type="password") }}
                            </div>
                            {% for error in form.password.errors %}
                                <p class="form-error">{{ error }}</p>
                            {% endfor %}
                        </div>

                        <div class="flex items-center">
                            <div class="flex">
                                {{ form.remember_me(class="form-checkbox", id="remember_me", type="checkbox") }}
                            </div>
                            {{ form.remember_me.label(class="form-label ps-2 pb-0 mb-0") }}
                        </div>

                        {{ form.submit(class='button button-blue block') }}

                    </div>
                </form>

                <div class="divider">More</div>

                <ul class="text-start">
                    <li class="inline-list-item-basic">
                        <a class="link link-primary" href="{{ url_for('core.forgot_password', next=next) }}">Forgot Password</a>
                    </li>
                    <li class="inline-list-item-basic">
                        <a class="link link-primary" href="{{ url_for('core.sign_up') }}">Create Account</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>




{% endblock %}
