{% extends 'base.html' %}
{% block content %}

    <div class="grid grid-cols-1 gap-0 lg:grid-cols-3 h-[calc(100vh-74px)]">

        <div class="hidden lg:block h-full bg-no-repeat bg-cover bg-center bg-[url('/static/images/doctor.jpg')]">
            <div class="text-center px-4 backdrop-blur bg-black/40 h-full content-center">
                <h1 class="h1-small text-neutral-200 mb-3 drop-shadow-lg">Multi-Factor Authentication</h1>
                <p class="body text-neutral-200 drop-shadow-lg">Select a method to verify your identity.</p>
            </div>
        </div>

        <div class="h-full content-center lg:col-span-2 p-4">
            <div class="p-4 rounded bg-color-accent border border-color shadow-sm text-center m-auto max-w-lg">
                <h2 class="h2 text-color-dark mb-3">Multi-Factor Authentication</h2>

                <form action="" method="post">
                    {{ form.csrf_token }}
                    <div class="grid gap-y-4 text-start mb-3">

                        <div>
                            {{ form.method.label(class="form-label") }}
                            <div class="relative">
                                {{ form.method(class="form-select", id="method", type="select") }}
                            </div>
                            {% for error in form.method.errors %}
                                <p class="form-error">{{ error }}</p>
                            {% endfor %}
                        </div>

                        {{ form.submit(class='button button-blue block') }}

                    </div>
                </form>

            </div>
        </div>

    </div>




{% endblock %}
