{% extends 'base.html' %}
{% block content %}
    <div class="content-container padded">
        <div class="text-center">
            <h1 class="title text-color-dark">404</h1>
            <h2 class="h2 text-color-muted">Bad Request</h2>
            <p class="body text-color-dark mt-4">The page wasn't found. If you followed a link here, it
                could be old or broken. Try refreshing or <a class="link link-primary" href="{{ url_for('core.index') }}">go back home</a>.
            </p>
        </div>
    </div>
{% endblock %}